.app{
  padding: 25px 0;
  background: #0000009d;
  .app_txt{
    p{
      color: #fff;
      font-size: 55px;
      font-weight: 700;
      margin-bottom: 28px;
    }
    button{
      color: #000;
      background: #4bcaff;
    }
  }
}